absl-py                            0.7.1
adium-theme-ubuntu                 0.3.4
alabaster                          0.7.7
apsw                               3.8.11.1.post1
astor                              0.7.1
astroid                            1.4.4
atari-py                           0.1.7
attrdict                           2.0.0
attrs                              15.2.0
autobahn                           0.10.3
Babel                              1.3
backports-abc                      0.5
backports.shutil-get-terminal-size 1.0.0
backports.weakref                  1.0.post1
BeautifulSoup                      3.2.1
beautifulsoup4                     4.6.0
bleach                             1.5.0
blinker                            1.3
Box2D-kengz                        2.3.3
bzr                                2.7.0
calendar-indicator                 0.3.4
catkin-pkg                         0.4.23
catkin-pkg-modules                 0.4.23
catkin-tools                       0.6.1
certifi                            2018.4.16
chardet                            3.0.4
CherryPy                           3.5.0
Click                              7.0
cloudpickle                        1.1.1
colorama                           0.4.3
configobj                          5.0.6
configparser                       3.5.0
cryptography                       1.2.3
cssselect                          0.9.1
cssutils                           1.0
cups                               0.0.6
cvxopt                             1.1.4
cycler                             0.9.0
Cython                             0.29.14
DateTime                           4.2
decorator                          4.3.0
defer                              1.0.6
defusedxml                         0.4.1
dlib                               19.16.0
dnspython                          1.12.0
docopt                             0.6.2
docutils                           0.12
EasyProcess                        0.3
ecdsa                              0.13
ema-workbench                      2.0.3
empy                               3.3.2
entrypoint2                        0.2.3
entrypoints                        0.2.3
enum34                             1.1.6
epydoc                             3.0.1
feedparser                         5.1.3
Flask                              0.12.2
funcsigs                           1.0.2
functools32                        3.2.3.post2
future                             0.16.0
futures                            3.2.0
gast                               0.2.2
gdbn                               0.1
gnumpy                             0.2
google                             2.0.1
google-pasta                       0.2.0
grpcio                             1.13.0
gym                                0.10.5
h5py                               2.8.0
hachoir-core                       1.3.3
hachoir-metadata                   1.3.3
hachoir-parser                     1.3.4
html5lib                           0.9999999
httplib2                           0.9.1
idna                               2.6
imutils                            0.5.3
ipaddress                          1.0.22
ipdb                               0.11
ipykernel                          4.8.2
ipyparallel                        6.2.4
ipython                            5.7.0
ipython-genutils                   0.2.0
ipywidgets                         7.3.0
itsdangerous                       0.24
jdcal                              1.0
jedi                               0.9.0
Jinja2                             2.10
joblib                             0.9.4
JPype1                             0.6.3
jsonschema                         2.6.0
jupyter                            1.0.0
jupyter-client                     5.2.3
jupyter-console                    5.2.0
jupyter-core                       4.4.0
kaggle                             1.3.11.1
Keras                              2.1.5
Keras-Applications                 1.0.8
Keras-Preprocessing                1.0.5
keyring                            7.3
kitchen                            1.1.1
launchpadlib                       1.10.3
lazr.restfulclient                 0.13.4
lazr.uri                           1.0.3
lazy-object-proxy                  1.2.1
llvmlite                           0.29.0
logilab-common                     1.1.0
lxml                               3.5.0
lz4                                0.7.0
Mako                               1.0.3
Markdown                           2.6.11
MarkupSafe                         1.0
matplotlib                         1.5.1
mechanize                          0.2.5
meld                               3.14.2
mercurial                          3.7.3
midi                               0.2.3
mistune                            0.8.3
mock                               2.0.0
MouseInfo                          0.1.3
mpi4py                             1.3.1
msgpack-python                     0.4.6
mss                                1.0.2
nbconvert                          5.3.1
nbformat                           4.4.0
nbsphinx                           0.4.2
ndg-httpsclient                    0.4.0
netifaces                          0.10.4
networkx                           2.2
nltk                               3.3
nolearn                            0.5b1
nose                               1.3.7
notebook                           5.6.0
numba                              0.45.1
numexpr                            2.4.3
numpngw                            0.0.8
numpy                              1.16.6
numpydoc                           0.5
oauth                              1.0.1
observations                       0.1.4
opencv-contrib-python-headless     3.4.3.18
openface                           0.2.1
openpyxl                           2.3.0
opt-einsum                         2.3.2
osrf-pycommon                      0.1.9
pafy                               0.5.5
PAM                                0.4.2
pandas                             0.17.1
pandas-datareader                  0.6.0
pandocfilters                      1.4.2
paramiko                           1.16.0
parsimonious                       0.8.1
pathlib                            1.0.1
pathlib2                           2.3.2
patsy                              0.4.1
pbr                                3.1.1
pexpect                            4.6.0
pickleshare                        0.7.4
Pillow                             6.2.2
pip                                20.3.4
progressbar                        2.5
prometheus-client                  0.3.0
prompt-toolkit                     1.0.15
protobuf                           3.6.1
psutil                             3.4.2
ptyprocess                         0.6.0
py                                 1.4.31
pyasn1                             0.1.9
pyasn1-modules                     0.0.7
PyAssimp                           3.0.1264
PyAutoGUI                          0.9.52
pycddlib                           2.1.1
pycrypto                           2.6.1
pycups                             1.9.73
pyDOE                              0.3.8
pydot                              1.0.29
pyflakes                           1.1.0
pygame                             1.9.6
PyGetWindow                        0.0.9
pyglet                             1.3.2
Pygments                           2.2.0
pygobject                          3.20.0
pygpgme                            0.3
pyinotify                          0.9.6
pykalman                           0.9.5
pylint                             1.5.2
PyMsgBox                           1.0.9
PyOpenGL                           3.0.2
pyOpenSSL                          0.15.1
pyparsing                          2.0.3
pyperclip                          1.8.2
pypng                              0.0.20
pypoman                            0.5.4
PyRect                             0.1.4
PyScaffold                         2.5.7
pyscreenshot                       2.3
PyScreeze                          0.1.26
pysd                               0.10.0
pyserial                           3.0.1
Pyste                              0.9.10
pytest                             2.8.7
python-apt                         1.1.0b1+ubuntu0.16.4.11
python-dateutil                    2.7.3
python-debian                      0.1.27
python-midi                        0.2.4
python-snappy                      0.5
python-xlib                        0.29
PyTweening                         1.0.3
pytz                               2014.10
PyYAML                             3.11
pyzmq                              17.1.0
qtconsole                          4.3.1
quadprog                           0.1.8
regex                              2019.6.8
reportlab                          3.3.0
repoze.lru                         0.6
requests                           2.18.4
requests-file                      1.4.3
requests-ftp                       0.3.1
roman                              2.0.0
rope                               0.10.2
rosdep                             0.20.1
rosdep-modules                     0.20.1
rosdistro                          0.8.3
rosdistro-modules                  0.8.3
rospkg                             1.3.0
rospkg-modules                     1.3.0
Routes                             2.2
scandir                            1.7
scikit-image                       0.10.1
scikit-learn                       0.17.1
scipy                              0.16.1
seaborn                            0.8.1
SecretStorage                      2.1.3
Send2Trash                         1.5.0
service-identity                   16.0.0
setuptools                         41.0.0
simple-pid                         0.2.4
simplegeneric                      0.8.1
simplejson                         3.8.1
singledispatch                     3.4.0.3
six                                1.11.0
sklearn                            0.0
Sphinx                             1.3.6
sphinx-rtd-theme                   0.1.9
spyder                             2.3.8
statistics                         1.0.3.5
statsmodels                        0.6.1
svgwrite                           1.1.12
tables                             3.2.2
tensorboard                        1.15.0
tensorflow                         1.15.0
tensorflow-estimator               1.15.1
tensorflow-probability             0.8.0
termcolor                          1.1.0
terminado                          0.8.1
testpath                           0.3.1
testresources                      2.0.1
tflearn                            0.3.2
tifffile                           2018.11.28
torch                              0.4.1
torchvision                        0.2.1
tornado                            5.1
tqdm                               4.23.4
traitlets                          4.3.2
trajectory-distance                1.0
transforms3d                       0.3.1
trollius                           2.0.1
Twisted                            16.0.0
txaio                              1.0.0
ubuntu-cleaner                     1.0.4
urllib3                            1.22
uTidylib                           0.2
vboxapi                            1.0
vcstools                           0.1.42
vidgear                            0.1.5
virtualenv                         15.1.0
wadllib                            1.3.2
wcwidth                            0.1.7
webencodings                       0.5.1
WebOb                              1.5.1
Werkzeug                           0.14.1
wheel                              0.33.6
widgetsnbextension                 3.3.0
wrapt                              1.12.1
wstool                             0.1.17
wxPython                           3.0.2.0
wxPython-common                    3.0.2.0
xarray                             0.11.3
xlib                               0.21
xlrd                               0.9.4
xlwt                               0.7.5
yapf                               0.27.0
youtube-dl                         2021.3.3
zope.interface                     4.1.3